# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Package lock file
package-lock.json

# Vite output
dist/
# Next.js build output
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
